<div class="container-fluid dark-background">
<div class="container transformation">

	<div class=" col-md-6 col-md-offset-1 dark-background">
		<div class="">


			

				<%= render 'users/profile_images/before_profile_picture' %>
        

			
			

				<%= render 'users/profile_images/after_profile_picture' %>
				



		</div>
		</div>
	</div>

</div>














