<div class="container-fluid dark-background">
<div class="container">

	<div class=" col-md-6 col-md-offset-1">
		<div class="">

			<% if current_user %>
			
				
				<%= render 'users/profile_images/before_profile_picture' %>
        

			
			

				<%= render 'users/profile_images/after_profile_picture' %>
				


			<% else  %>
				<% if @user.before.present? %>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
				<% elsif @user.after.present? %>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>					
				<% else %>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
				<% end %>
			<% end %>

		</div>
		</div>
	</div>

</div>


<script type="text/javascript">

		 $(document).on("change", ".before-upload input:file", function() {

       var fileName = $(this).val().replace(/.*(\/|\\)/, '');
       $(".filename-before").html(fileName);
       $("#beforeinput").attr('class', 'glyphicon glyphicon-ok');
       
     });

		 $(document).on("change", ".after-upload input:file", function() {
     	 
       var fileName = $(this).val().replace(/.*(\/|\\)/, '');
       $(".filename-after").html(fileName);
       $("#afterinput").attr('class', 'glyphicon glyphicon-ok');
       
     });

</script>














