<div class="container-fluid">
	<div class="row row-centered">
	<div class="col-md-8 col-md-offset-1">
		<div class="">

			<% if current_user %>
			<div class="thumbnail">
				
				<%= render 'before_profile_picture' %>
        
			</div>
			
			<div class="thumbnail">

				<%= render 'after_profile_picture' %>
				
			</div>

			<% else  %>
				<% if @user.before.present? %>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
				<% elsif @user.after.present? %>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>					
				<% else %>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>
					<div class="thumbnail">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</div>
				<% end %>
			<% end %>

		</div>
		</div>
	</div>
</div>


<script type="text/javascript">

     $(".before-upload input:file").change( function (){
     	 
       var fileName = $(this).val().replace(/.*(\/|\\)/, '');
       $(".filename-before").html(fileName);
       $("#beforeinput").attr('class', 'glyphicon glyphicon-ok');
       
     });

     $(".after-upload input:file").change( function (){
     	 
       var fileName = $(this).val().replace(/.*(\/|\\)/, '');
       $(".filename-after").html(fileName);
       $("#afterinput").attr('class', 'glyphicon glyphicon-ok');
       
     });

</script>














