<div class="dark-background">
<div class="container-fluid">
	<div class="row row-centered">
	<div class="col-md-6 col-md-offset-1">
		<div class="">
			<div class="thumbnail">
				<span class="glyphicon glyphicon-plus" aria-hidden="true">
					
				</span>
			</div>
			<div class="thumbnail">
				<span class="glyphicon glyphicon-plus" aria-hidden="true">
					
				</span>
			</div>
		</div>
		</div>
	</div>
</div>
</div>