
<%= render 'users/profile_images/transformation' %>

<div class="container light-background">
	<div class="col-md-6 col-md-offset-3">
	<h2>
	<%= @user.username %>

	<div class="vertical-line" />
	<span class="margin glyphicon glyphicon-menu-up">

	
	</h2>
	</div>

	<br><br><br><br>

	<hr>
	<%= render 'users/before_after_stats/stats' %>
	<hr>
</div>
