<div class="container">
<div class="col-md-4 col-md-offset-4">
<br>
<%= devise_error_messages! %>
<h2>Forgot your password?</h2>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-info form-control" %>
  </div>
<% end %>
<br><br>
</div>
</div>