<div class="col-md-10 col-md-offset-1">
<div class="well add-workout" style="cursor:pointer">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br>
	<h1>Add session</h1>
</div>
</div>

<div class="col-md-10 col-md-offset-1">
<div style="display:none;" id="workout-form">
	<div class="well  row row-centered">
	<%= form_for @user, url: add_workout_path, method: :post, :authenticity_token => true, html: { multipart: true }, remote: true, as: :workoutpics do |f| %>

	<div class="col-md-6">
		<div class="thumbnail workout-pics">
	    <label for="workoutpics" class="glyphicon glyphicon-plus" style="cursor:pointer" id="workout-pics" %></label>
	    <%= f.file_field :attachment, style:"display: none", id:"workoutpics", multiple:"multiple", name:"images[]" %>

	    <h3><small>(Optional)</small></h3>

	    <span class="filename-after"></span>
	    <br><br>

			<%= image_tag("zyzz.jpg") %>
		</div>
	</div>

		<span class="glyphicon glyphicon-remove" style="cursor:pointer" id="cancel-add-workout"></span>

		<div class="input_fields_wrap_add_workout">

    <div class="col-md-6">
    <div class="input-group">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="typeahead" type="text" autocomplete="off" placeholder="Add an exercise ...">
    </div><!-- /input-group -->
  	<br>


		<hr>

		 
		  

		  <div class="weight_fields_wrap">
		  	

		  </div>


		 
		</div>

		<hr>
	</div>

<div class='col-md-4 col-md-offset-1'>
  <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="date" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
</div> 
<br><br><br><br><br><br>

	<div class='col-md-4 col-md-offset-1'>
	<%= f.button "Add Session", class: "btn btn-primary", name: "commit", value: "conceal", data: { disable_with: "Please wait..." } %>
	<% end %>
	</div>
	</div>
</div>
</div>





