
<% @comments = workout.comments.order('created_at DESC') %>
<% if @comments.blank? %>

<% else %>
<hr>
<% end %>




<% @comments.each do |com| %>
	
	<div class="comment" style="display:none;">
	<% user = User.find(com.user_id) %>


	<%= link_to "#{user.username}", user_path(user) %>

	<%= com.comment %>
	<br>
	</div>
	
<% end %>
<br>
<div id="loadMore">Load more comments</div>

<div class="nopadding">

</div>