<div class="feed row row-centered">


		<% if current_user %>

		<%= render 'users/workouts/add_workout' %>

		<% end %>

		<% if @user.workouts.any? %>

		<div id="workouts">
		<%= render partial: 'users/workouts/workout', collection: @workouts, as: :workout %>
		</div>

		<% end %>
		
		<div id="infinite-scrolling">
  		<%= will_paginate @workouts %>
		</div>


</div>