<div class="feed row row-centered">


		<% if params[:username] == current_user.username %>

		<%= render 'users/workouts/add_workout' %>

		<% end %>

		<% if @user.workouts.any? %>

		<div id="workouts">
		<%= render partial: 'users/workouts/workout', collection: @workouts, as: :workout %>
		</div>

		<% end %>
		
		<div id="infinite-scrolling">
  		<%= will_paginate @workouts, :params => {:controller => 'users', :action => 'show', :id => nil, :toggle_to => nil} %>
		</div>


</div>