@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  -webkit-font-smoothing: antialiased;
}

/* universal */

* {
  border-radius: 0 !important;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}




.dark-background {
  background-color: black;
}

.transparent {
  background: rgba(54, 25, 25, 0); 
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 26px;
    text-align: center;
    margin: auto;
    padding-top: 0px;
}



.navbar-fixed-top {
  min-height: 65px;
}

.navbar-nav li a {
 line-height: 50px;
}


.thumbnail {
  height: 700px;
  min-height: 700px;
  min-width: 460px;
  display: table-cell!important;
  vertical-align: bottom;
  padding: 0px 0px 0px 0px;

}

.thumbnail-profile {
  height: 700px;
  min-height: 700px;
  min-width: 460px;
  display: table-cell!important;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
}





.col-centered{
    float: none;
    margin: 0 auto;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.thumbnails { border:0; }



.upload {
  vertical-align: bottom;
  padding-bottom: 0px;
  padding-top: 0px;
}

.glyphicon-plus {
  font-size: 1.6em;
}

.glyphicon-ok {
  font-size: 1.6em;
}

.glyphicon-remove-circle {
  font-size: 1.6em;
  opacity:0.3;
}

.red {
  color: red;
}

.image {
  position: relative;
  div:hover {
    .glyphicon-remove-circle {
    opacity:0.9;
    }
  }
}

.delete-pic {
  position:absolute;
  top:10px;
  right:10px;
}



















/* non collapseable navbar ? */

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}









