@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  -webkit-font-smoothing: antialiased;
}



/* typography */

h1 {
  line-height: 1;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

 h2, h3, h4, h5, h6, p {
  line-height: 1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


.index-text {
font-family: verdana, sans-serif;
color: #FFFFFF;
font-size: 30px;
letter-spacing: 12.2pt;
word-spacing: -1pt;
line-height: 1.7;

}


form {
    display: inline;
}

.follow-block {
  display: inline;
}




/* universal */

h3, .h3 {

    padding: 0px;
    margin: 0px;
}

h2, .h2 {

    padding-bottom: 0px;
    margin-bottom: 0px;
}

.modal-dialog {
  padding-top: 15%;

}

.edit-workout-dialog{
    padding-top: 3%;
}


* {
  border-radius: 0 !important;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.flash {

}

.notices-bar {
  margin-top: 60px;
  min-height:20px !important;
  line-height: 22px;
  padding-top: 5px; padding-bottom: 5px;
  text-align: left; 
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.pic-right {
  text-align: right;
}

.pic-left {
  text-align: left;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.panel {
    border: 0;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

.panel-default > .panel-heading {
  background-color: white;
}



.dark-background {
  background-color: black;
}

.light-background {
  background-color: white;
}

.transparent {
  background: rgba(54, 25, 25, 0); 
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 21px; /* was 26 */
    text-align: center;
    margin: auto;
    padding-top: 0px;
}



.navbar-fixed-top {
  min-height: 30px; /* was 65 */
}

.navbar-nav li a {
 line-height: 30px; /* was 50 */
}

.red-background{
  background-color: #ffe6e6;

}


.thumbnail {
  height: 600px;
  min-height: 600px;
  min-width: 460px;
  display: table-cell!important;
  vertical-align: bottom;
  padding: 0px 0px 0px 0px;
  
}

.edit-workout-pics {

    height: 150px;
    min-height: 150px;
    min-width: 114px;
    display: table-cell!important;
    vertical-align: top;
    padding: 0px 0px 0px 0px;

}

.edit-image-hover {
    
    div:hover {
    opacity:0.3;
    }

}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}


.thumbnails > li { border: 0px; }

.thumbnail-profile {
  height: 600px;
  min-height: 600px;
  min-width: 460px;
  display: table-cell!important;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.navbar {
  background-color: white;
}




.col-centered{
    float: none;
    margin: 0 auto;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.thumbnails { border:0; }

.well {
  background-color: white;
}

.upload {
  vertical-align: bottom;
  padding-bottom: 0px;
  padding-top: 0px;
}

.add-set{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 2px;
}

.duplicate-set{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 2px;
}

.remove-set{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 2px;
}

.glyphicon-plus {
  font-size: 1.6em;
}

.glyphicon-option-horizontal {
  font-size: 0.7em;
}

.weight_fields_wrap {
  .glyphicon-plus {
  font-size: 0.8em;
}
}

.add-set {
  .glyphicon-plus {
  font-size: 0.8em;
  }
  .glyphicon-list {
  font-size: 0.8em;
  }
  .glyphicon-minus {
  font-size: 0.8em;
  }
}

.btn-sm {
  font-size: 0.7em;
}

.glyphicon-ok {
  font-size: 1.6em;
}

.glyphicon-pushpin {
  font-size: 0.8em;
}

.glyphicon-remove-circle {
  font-size: 1.6em;
  opacity:0.3;
}

.red {
  color: red;
}

.image {
  position: relative;
  div:hover {
    .glyphicon-remove-circle {
    opacity:0.9;
    }
  }
}

.delete-pic {
  position:absolute;
  top:10px;
  right:10px;
}

.workout-date {
  position:absolute;
  bottom:1px;
  right:90px;
}



#cancel-after-stats {
  position:absolute;
  top:10px;
  right:30px;
}

#cancel-before-stats {
  position:absolute;
  top:10px;
  right:30px;
}

#cancel-edit-before-stats {
  position:absolute;
  top:10px;
  right:30px;
}

#cancel-edit-after-stats {
  position:absolute;
  top:10px;
  right:30px;
}

#cancel-add-workout {
  position:absolute;
  top:10px;
  right:10px;
}

#cancel-edit-workout {
  position:absolute;
  top:10px;
  right:10px;
}

#edit-workout {
  position:absolute;
  top:30px;
  right:30px;
  opacity:0.1;
}

.weight_fields_wrap{
  .glyphicon-trash{

  }
}

.edit-before-stats-button {
  position:absolute;
  top:5px;
  right:20px;
  opacity:0.1;
}

.edit-after-stats-button {
  position:absolute;
  top:5px;
  right:20px;
  opacity:0.1;
}

.edit-before-stats:hover {
    background-color:   #fff2f2;
    .edit-before-stats-button {
    opacity:1;
    }
}

.edit-after-stats:hover {
    background-color:   #fff2f2;
    .edit-after-stats-button {
    opacity:1;
    }
}

.workouts:hover {
    #edit-workout{
    opacity:1;
    }
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  display:inline-block; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
    margin:10px;
}

.margin{ 
  margin:10px;
    display:inline-block;
}

.vertical_line{height:150px; width:1px;background:#000;}



#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}


.img-responsive {
  opacity:0.3;
}







/* non collapseable navbar ? */

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.set-buttons {

}

.exercise-name {
  font-size: 1.2em;
}

.user-stats {
  vertical-align: top;
}









.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.typeahead,
.tt-input,
.tt-hint {
  color: #999;
  width: 385px;
  height: 33px;
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 436px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.edit-workout-dialog {
  .tt-menu {  
    width: 336px;
  }

  .typeahead,
  .tt-input,
  .tt-hint {
    color: #999;
    width: 336px;
    height: 33px;
  }

  .thumbnail {
    height: 600px;
    min-height: 600px;
    min-width: 430px;
    display: table-cell!important;
    vertical-align: bottom;
    padding: 0px 0px 0px 0px;

  }


}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.fotorama__wrap--slide .fotorama__stage__frame {
    opacity: 1 !important;
    background-color: black;
}

.jumbotron{
    background-color: black; //#e6f2ff
    padding-bottom: 0px;
}

.sign-in-up {
  padding: 0;

}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }




