<div class="row row-centered">
	
	<div class="before-stats col-md-4 col-md-offset-2">
		<%= render 'users/before_after_stats/before_stats' %>

	</div>

	<div class="after-stats col-md-4">
		<%= render 'users/before_after_stats/after_stats' %>
		
	</div>

</div>

<!-- Used in both partials above-->
<script>
$('.add-before-stats').click(function(){
    $('#before-partial').show();
    $('.add-before-stats').hide();


    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div class="center"><input type="text" style="width: 190px" name="exercises[]" placeholder="Exercise"/><input type="text" style="width: 80px" name="weight[]" placeholder="Weight"/><span href="#" class="remove_field glyphicon glyphicon-minus"></span></div>'); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});

$('.add-after-stats').click(function(){
    $('#after-partial').show();
    $('.add-after-stats').hide();


    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div class="center"><input type="text" style="width: 190px" name="exercises[]" placeholder="Exercise"/><input type="text" style="width: 80px" name="weight[]" placeholder="Weight"/><span href="#" class="remove_field glyphicon glyphicon-minus"></span></div>'); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});

$('#cancel-before-stats').click(function(){
    $('#before-partial').hide();
    $('.add-before-stats').show();
});

$('#cancel-after-stats').click(function(){
    $('#after-partial').hide();
    $('.add-after-stats').show();
});

$('.edit-before-stats-button').click(function(){
		$('#edit-before-partial').show();
    $('.edit-before-stats').hide();

    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap_edit_before"); //Fields wrapper
    var add_button      = $(".add_field_button_edit_before"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div class="center"><input type="text" style="width: 190px" name="exercises[]" placeholder="Exercise"/><input type="text" style="width: 80px" name="weight[]" placeholder="Weight"/><span href="#" class="remove_field glyphicon glyphicon-minus"></span></div>'); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});

$('#cancel-edit-before-stats').click(function(){
    $('#edit-before-partial').hide();
    $('.edit-before-stats').show();
});

$('.edit-after-stats-button').click(function(){
		$('#edit-after-partial').show();
    $('.edit-after-stats').hide();

    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap_edit_after"); //Fields wrapper
    var add_button      = $(".add_field_button_edit_after"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div class="center"><input type="text" style="width: 190px" name="exercises[]" placeholder="Exercise"/><input type="text" style="width: 80px" name="weight[]" placeholder="Weight"/><span href="#" class="remove_field glyphicon glyphicon-minus"></span></div>'); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});

$('#cancel-edit-after-stats').click(function(){
    $('#edit-after-partial').hide();
    $('.edit-after-stats').show();
});

</script>

























