<div class="row row-centered">
	
	<div class="before-stats col-md-6">
		<%= render 'users/before_after_stats/before_stats' %>

	</div>

	<div class="after-stats col-md-6">
		<%= render 'users/before_after_stats/after_stats' %>
		
	</div>

</div>



























