<br><br><br>
<hr>
<div class="col-md-4 col-md-offset-5">
Milonos © 2016
&nbsp;<%= link_to "About", new_user_session_path %>
&nbsp;<%= link_to "Contact", new_user_session_path %>
&nbsp;<%= link_to "Terms", new_user_session_path %>
</div>
<br><br><br><br><br>